In [1]:
import pandas as pd

In [2]:
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup as bs
import re

In [52]:
birds_df = pd.read_csv("birds_cleaned_Apri_4_2017.csv")

In [53]:
birds_df.columns

Index(['Idx', 'Common name', 'Binomial', 'Category', 'Order', 'Family',
       'colour1', 'colour2', 'colour3', 'min_length', 'max_length',
       'min_weight', 'max_weight', 'Voice', 'Description', 'Diet', 'Sources'],
      dtype='object')

In [3]:
# Victoria

url = "https://en.wikipedia.org/wiki/List_of_birds_of_Victoria,_Australia"
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
webpage_str = str(webpage)
soup = bs(webpage, "lxml")

In [5]:
# Victoria

url = "http://avibase.bsc-eoc.org/checklist.jsp?region=AUvi&list=howardmoore"
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
webpage_str = str(webpage)
soup = bs(webpage, "lxml")

In [35]:
vic_df = pd.read_html(
    "http://avibase.bsc-eoc.org/checklist.jsp?lang=EN&p2=1&list=avibase&synlang=&region=AUvi&version=text&lifelist=&highlight=0")
vic_df = vic_df[1].copy()
vic_df = vic_df[15:-1]
vic_df = vic_df[[0,1,3]]
vic_df.columns = ['common_name', 'binomial', 'status']
vic_df = vic_df[vic_df['binomial'].notnull()]

In [45]:
nsw_df = pd.read_html(
    "http://avibase.bsc-eoc.org/checklist.jsp?lang=EN&p2=1&list=avibase&synlang=&region=AUns&version=text&lifelist=&highlight=0")
nsw_df = nsw_df[1].copy()
nsw_df = nsw_df[15:-1]
nsw_df = nsw_df[[0,1,3]]
nsw_df.columns = ['common_name', 'binomial', 'status']
nsw_df = nsw_df[nsw_df['binomial'].notnull()]

In [69]:
qld_df = pd.read_html(
    "http://avibase.bsc-eoc.org/checklist.jsp?lang=EN&p2=1&list=avibase&synlang=&region=AUql&version=text&lifelist=&highlight=0")
qld_df = qld_df[1].copy()
qld_df = qld_df[15:-1]
qld_df = qld_df[[0,1,3]]
qld_df.columns = ['common_name', 'binomial', 'status']
qld_df = qld_df[qld_df['binomial'].notnull()]

In [70]:
act_df = pd.read_html(
    "http://avibase.bsc-eoc.org/checklist.jsp?lang=EN&p2=1&list=avibase&synlang=&region=AUca&version=text&lifelist=&highlight=0")
act_df = act_df[1].copy()
act_df = act_df[15:-1]
act_df = act_df[[0,1,3]]
act_df.columns = ['common_name', 'binomial', 'status']
act_df = act_df[act_df['binomial'].notnull()]

In [71]:
nt_df = pd.read_html(
    "http://avibase.bsc-eoc.org/checklist.jsp?lang=EN&p2=1&list=avibase&synlang=&region=AUno&version=text&lifelist=&highlight=0")
nt_df = nt_df[1].copy()
nt_df = nt_df[15:-1]
nt_df = nt_df[[0,1,3]]
nt_df.columns = ['common_name', 'binomial', 'status']
nt_df = nt_df[nt_df['binomial'].notnull()]

In [72]:
sa_df = pd.read_html(
    "http://avibase.bsc-eoc.org/checklist.jsp?lang=EN&p2=1&list=avibase&synlang=&region=AUsa&version=text&lifelist=&highlight=0")
sa_df = sa_df[1].copy()
sa_df = sa_df[15:-1]
sa_df = sa_df[[0,1,3]]
sa_df.columns = ['common_name', 'binomial', 'status']
sa_df = sa_df[sa_df['binomial'].notnull()]

In [45]:
tas_df = pd.read_html(
    "http://avibase.bsc-eoc.org/checklist.jsp?lang=EN&p2=1&list=avibase&synlang=&region=AUta&version=text&lifelist=&highlight=0")
nsw_df = nsw_df[1].copy()
nsw_df = nsw_df[15:-1]
nsw_df = nsw_df[[0,1,3]]
nsw_df.columns = ['common_name', 'binomial', 'status']
nsw_df = nsw_df[nsw_df['binomial'].notnull()]

In [45]:
nsw_df = pd.read_html(
    "http://avibase.bsc-eoc.org/checklist.jsp?lang=EN&p2=1&list=avibase&synlang=&region=AUns&version=text&lifelist=&highlight=0")
nsw_df = nsw_df[1].copy()
nsw_df = nsw_df[15:-1]
nsw_df = nsw_df[[0,1,3]]
nsw_df.columns = ['common_name', 'binomial', 'status']
nsw_df = nsw_df[nsw_df['binomial'].notnull()]

In [67]:
birds_df['nsw'] = pd.np.nan

In [68]:
for idx in birds_df.index:
    if birds_df.ix[idx, 'Binomial'] in nsw_df.binomial.values:
        birds_df.ix[idx, 'nsw'] = 1

In [64]:
nsw_df.binomial.values

array(['Struthio [camelus or molybdophanes]', 'Struthio camelus',
       'Struthio camelus massaicus', ...,
       'Turdus merula [incl. intermedius]', 'Turdus philomelos',
       'Turdus philomelos clarkei'], dtype=object)

In [51]:
nsw_df.head(20)

,common_name,binomial,status
15,Ostrich or Somali Ostrich,Struthio [camelus or molybdophanes],Introduced species
16,African Ostrich,Struthio camelus,Introduced species
17,African Ostrich (North African),Struthio camelus massaicus,Introduced species
19,"Emu, King Island or Kangaroo Island Emu","Dromaius [novaehollandiae, minor or baudinianus]",Endemic (country/region)
20,"Emu, or Kangaroo Island Emu",Dromaius [novaehollandiae or baudinianus],NaN
21,Emu,Dromaius novaehollandiae,Endemic (country/region)
22,Emu (South Eastern),Dromaius novaehollandiae [novaehollandiae or r...,NaN
23,Emu (South Eastern),Dromaius novaehollandiae novaehollandiae,NaN
24,"Emu, or King Island Emu",Dromaius [novaehollandiae or minor],NaN
26,Magpie Goose,Anseranas semipalmata,NaN
28,Teal sp.,Anas sp.,NaN
29,Unidentified Duck,Anatidae sp.,NaN
30,Plumed Whistling-Duck,Dendrocygna eytoni,Endemic (country/region)
31,Wandering Whistling-Duck,Dendrocygna arcuata,NaN
32,Wandering Whistling-Duck (Australian),Dendrocygna arcuata australis,NaN
33,Blue-billed Duck,Oxyura australis,Endemic (country/region) Near-threatened
34,Pink-eared Duck,Malacorhynchus membranaceus,Endemic (country/region)
35,Cape Barren Goose,Cereopsis novaehollandiae,Rare/Accidental
36,Mute Swan,Cygnus olor,Introduced species
37,Black Swan,Cygnus atratus,Endemic (country/region)