In [1]:
# import pandas to deal with DataFrame
import pandas as pd
# import os lib to check if a file is exist
import os

In [2]:
# load dataframe file
birds_df = pd.read_csv("birds_April_6.csv")
# delete useless column
del birds_df['Unnamed: 0']
# reset index
birds_df.set_index('Idx', inplace=True)

In [3]:
# assign directory
directory = 'imgs_aio/'
# assign index list
index_set = set(birds_df.index)

In [4]:
# save all filenames into file_list
file_list = os.listdir(directory)
# remove .DS_Store in file_list
file_list = file_list[1:]

In [5]:
# initialize a new set to store the idx of birds which already have images
img_exist_idx_set = set()

In [6]:
for filename in file_list:
    idx = filename.split('.')[0].split('_')[0]
    img_exist_idx_set.add(int(idx))

In [7]:
# get the difference of two sets
missing_img_set = index_set - img_exist_idx_set

In [8]:
# check how many birds still need images
len(missing_img_set)

24

In [9]:
# create a new dataframe to store the birds missing images
missing_birds_df = birds_df.ix[missing_img_set, ['Common name', 'Binomial']]
# initilize a new column to store voice url
missing_birds_df['images_url'] = pd.np.nan

missing_birds_df['Sources'] = pd.np.nan

In [10]:
# check the result
missing_birds_df

,Common name,Binomial,images_url,Sources
Idx,,,,
6,Orange-footed scrubfowl,Megapodius reinwardt,NaN,NaN
26,Radjah shelduck,Tadorna radjah,NaN,NaN
27,Australian shelduck,Tadorna tadornoides,NaN,NaN
28,Paradise shelduck,Tadorna variegata,NaN,NaN
29,Australian wood duck,Chenonetta jubata,NaN,NaN
30,Pink-eared duck,Malacorhynchus membranaceus,NaN,NaN
543,Superb fairywren,Malurus cyaneus,NaN,NaN
33,Garganey,Anas querquedula,NaN,NaN
301,Grey plover,Pluvialis squatarola,NaN,NaN
62,Spinifex pigeon,Geophaps plumifera,NaN,NaN
68,Peaceful dove,Geopelia striata,NaN,NaN
69,Bar-shouldered dove,Geopelia humeralis,NaN,NaN
70,Wonga pigeon,Leucosarcia melanoleuca,NaN,NaN
200,Brown booby,Sula leucogaster,NaN,NaN
203,Great cormorant,Phalacrocorax carbo,NaN,NaN
204,Little black cormorant,Phalacrocorax sulcirostris,NaN,NaN
209,Kerguelen shag,Phalacrocorax verrucosus,NaN,NaN
82,New Zealand pigeon,Hemiphaga novaeseelandiae,NaN,NaN
83,Tawny frogmouth,Podargus strigoides,NaN,NaN
217,Grey heron,Ardea cinerea,NaN,NaN
220,Intermediate egret,Ardea intermedia,NaN,NaN
350,Little stint,Calidris minuta,NaN,NaN
106,Grey-backed storm petrel,Garrodia nereis,NaN,NaN
108,Black-bellied storm petrel,Fregetta tropica,NaN,NaN

In [11]:
# save into a new csv
missing_birds_df.to_csv("102 missing images list.csv")

In [12]:
missing_birds_df.ix[6, 'Sources'] = "Toby Hudson\nProceedings of the Zoological Society of London 1876"

In [13]:
missing_birds_df.ix[26, 'Sources'] = "JJ Harrison (jjharrison89@facebook.com)"