In [1]:
# import pandas to deal with DataFrame
import pandas as pd
# import os lib to check if a file is exist
import os

In [2]:
# load dataframe file
birds_df = pd.read_csv("birds_April_13.csv")
# delete useless column
# del birds_df['Unnamed: 0']
# reset index
birds_df.set_index('Idx', inplace=True)

In [3]:
# create a dataframe with only location columns
location_df = birds_df[['nsw', 'vic', 'tas', 'act', 'sa', 'wa', 'nt', 'qld']].copy()
# initialize a list to store index which does not have location information
idx_list = []
# assign column names into a list
columns = location_df.columns

In [4]:
for idx in location_df.index:
    is_null = True
    for column in columns:
        if not pd.np.isnan(location_df.ix[idx, column]):
            is_null = False
            break
    if is_null:
        idx_list.append(idx)

In [5]:
# check how many birds still need location
len(idx_list)

5

In [6]:
# create a new dataframe to store the birds missing location
missing_birds_df = birds_df.ix[idx_list, ['Common name', 'Binomial', 
                                          'nsw', 'vic', 'tas', 'act', 'sa', 'wa', 'nt', 'qld']]

In [7]:
# check the result
missing_birds_df

,Common name,Binomial,nsw,vic,tas,act,sa,wa,nt,qld
Idx,,,,,,,,,,
114,Laysan albatross,Phoebastria immutabilis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,Emperor penguin,Aptenodytes forsteri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,Macquarie shag,Phalacrocorax purpurascens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,Mew gull,Larus canus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
892,Yellowhammer,Emberiza citrinella,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# load dataframe file
new_df = pd.read_csv("105 missing location list.csv")
new_df.set_index("Idx", inplace=True)
columns = ['nsw', 'vic', 'tas', 'act', 'sa', 'wa', 'nt', 'qld']

In [9]:
for idx in idx_list:
    for column in columns:
        birds_df.ix[idx, column] = new_df.ix[idx, column]

In [10]:
birds_df.to_csv("birds_April_13.csv")

In [8]:
# save into a new csv
missing_birds_df.to_csv("105 missing location list.csv")